<header class="site-header">
  <div class="container header-inner">
    <a class="brand" href="{{ site.url }}">
      <img src="/assets/images/logo.svg" alt="{{ site.title }} logo" class="logo" width="64" height="64">
      <span class="brand-text">{{ site.title }}</span>
    </a>
    <nav class="site-nav">
      <a href="/">Home</a>
      <a href="/books/">Books</a>
      <a href="/categories/">Categories</a>
      <a href="/blog/">Blog</a>
      <a href="/about/">About</a>
    </nav>
  </div>
</header>
